<div>
    First Name: <input [(ngModel)]='newEmployee.FirstName' placeholder="First Name"><br>
    Last Name: <input [(ngModel)]='newEmployee.LastName' placeholder="Last Name"><br>
    City: <input [(ngModel)]='newEmployee.City' placeholder="City"><br>
    Phone Number: <input [(ngModel)]='newEmployee.PhoneNumber' placeholder="Phone Number"><br>
    <button (click)='addEmployee()'>Add Employee</button>
</div>
<div *ngIf='editEmp!=null'>
    First Name: <input [(ngModel)]='editEmp.FirstName' placeholder="First Name"><br>
    Last Name: <input [(ngModel)]='editEmp.LastName' placeholder="Last Name"><br>
    City: <input [(ngModel)]='editEmp.City' placeholder="City"><br>
    Phone Number: <input [(ngModel)]='editEmp.PhoneNumber' placeholder="Phone Number"><br>
    <button (click)='modifyEmployee()'>Update Employee</button>
</div>
<table border="1" style="margin:10px;">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>City</th>
        <th>Phone Number</th>
    </tr>
    <tr *ngFor="let e of employees;let i=index">
        <td>{{e.FirstName}</td>
        <td>{{e.LastName}</td>
        <td>{{e.City}</td>
        <td>{{e.PhoneNumber}</td>
        <td>
            <button (click)="editEmployee(e.Id)">Edit</button>
            <button (click)="deleteEmployee(e.Id,i)">Delete</button>
        </td>

    </tr>

</table>
